{%extends "layout.html"%}
{%block content%}
<div>
  <h1>About Instructor</h1>
  <p> I am Madhav Nandan, an engineer, podcaster and passionate instructor.
  I hold 4 yrs of experience as Instructor and 3+ yrs as podcaster on soundcloud.
  <br>I love to discuss technology, My efforts put together makes coding lucid and fun track for you.
  learning curvers here urges you to code live. <br>This is non-profit published work.</p>
  <p> Machine learning, Django and data science are my area of interest and expertise.</p>
  <h1> About Course </h1>
  <p> This website is for everybody: kids, non-programmers, programmers, medical staffs, intermediate coders etc</p>
  <p> I strongly believe that coding is fun and this world of programs has power to change the world.</p>
  <p> I primarily discussed here fundamentals of pythons, basics of numpy and pandas and some advanced topics of pythons</p>

  <h1> Enjoy the course! </h1>
  <h2> Note: This is part of project 2: Website made in python. For resume and learning purpose.</h2>
</div>
{%endblock%}
