<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}
<div>
  <h2> Why choose python?.</h2>
  <p>According to a survey, Python is one of the top 5 popular programming languages of 2019. Python can be used widely in developing desktop GUI application, mobile games, websited and web applications. The simple syntax rules of the programming language further makes it easier to keep the code base readable and application maintainable. It's programming paradigms and language features help in developing large and scalable applications. Another good feature python has is its detailed documentation. Python gives option to choose from a wide range of open source python frameworks and development needs. Python even makes it easier to perform coding and testing simultaneously by adopting test driven development(TDD) approach.</p>

  <h2> Requirements</h2>
  <p> You need to install python 3 (latest version). Since we are going to teach python 3.8 version so I strongly recommend installing python 3.
    you can use command-line or terminal to install python. <p>
  <p>follow these steps: <p>
  <a href= "https://www.howtogeek.com/197947/how-to-install-python-on-windows/" > for Windows </a> <br>
  <a href= "https://docs.python-guide.org/starting/install3/osx/" > for Mac OSX </a> <br>
  <a href= "https://www.python.org/download/other/" > for Others </a>

  <p> Once installed, open terminal (on Mac) or command prompt (on Windows). you need to run: python3 --version, that will output some python3 version if you are not getting any python3 version as output, you did something wrong while installing it. please check the <b>"github" </b> tab to see and improve your code. </p>
  <h2>Learn the Basics</h2>

    <p>Hello, World <a href= "https://drive.google.com/file/d/14mbznIsfIRFj4QgBSVtv_E563ZJsI6JK/view?usp=sharing">Episode 1</a> | <a href = "https://glot.io/new/python">Code Here</a></p>
    <p>Variables and Types <a href= "https://drive.google.com/file/d/1k0r3yUo_CvpX9rlhQ6H0qmf-9ZybzI5a/view?usp=sharing"> Episode 2 </a> | <a href = "https://glot.io/new/python">Code Here</a></p>
    <p>Lists <a href= "https://drive.google.com/file/d/1Q9rQKr4p95s7ylbW6tDfB6ZjPcvhVqbK/view?usp=sharing">Episode 3</a> | <a href = "https://glot.io/new/python">Code Here</a></p>
    <p>Basic Operators <a href="https://drive.google.com/file/d/15pU5jDqk__xrvJX2AOUlJQHOFQV9Dl_U/view?usp=sharing">Episode 4 | </a> <a href="https://drive.google.com/file/d/1xUtMq2DNoS6ORjE82__9KusFM6KgV2DJ/view?usp=sharing"> Episode 5 </a> | <a href = "https://glot.io/new/python">Code Here</a></p>
    <p>String Operations <a href= "https://drive.google.com/file/d/1MYgliefEZmEM6e5qBHhWVEUUPCCgsQmD/view?usp=sharing"> Episode 6 </a> | <a href="https://drive.google.com/file/d/1aH9aS1HEpcT9-2i1XH6i3TIp1YOjVppF/view?usp=sharing">Episode 7</a>| <a href = "https://drive.google.com/file/d/1K4vYHKSWslzKZ2Yx_lKOENR13NGnZs1y/view?usp=sharing">Exercise 1</a></p>
    <p>Conditions and Loops <a href= "https://drive.google.com/file/d/1Gj4hFce24-23Ph-IpD3TZ-c3EQ5M2TrI/view?usp=sharing"> Episode 8 </a> | <a href="https://drive.google.com/file/d/1gsp-clJGdyBitnW1Tj2avc84G16BYBb-/view?usp=sharing">Episode 9</a> | <a href = "https://drive.google.com/file/d/1ACXTIr9FPdGB316Te58pxwsFn8JVmmSZ/view?usp=sharing">Exercise 2</a></p>
    <p>Functions <a href= "https://drive.google.com/file/d/1R0ht95gW2zwCwp4EkltgCZg4qVMWpsuj/view?usp=sharing">Episode 10</a> | <a href="https://drive.google.com/file/d/1raLF2bx6hSW0VCpvkCTyhRkraxj09H-3/view?usp=sharing">Episode 11</a></p>
    <p>Classes and Objects <a href= "https://drive.google.com/file/d/1IEM21YsDD7n10hto6D7BfNZiXVswPmKE/view?usp=sharing"> Episode 12 </a> | <a href = "https://glot.io/new/python">Code Here</a></p>
    <p>Dictionaries</p>
    <p>Modules and Packages</p>

    <h2>Into Data Science</h2>

      <p>Numpy Arrays</p>
      <p>Pandas Basics</p>



</div>
{%endblock%}
